@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400&family=Roboto:wght@300&display=swap');
// font-family: 'MuseoModerno', cursive;
// font-family: 'Roboto', sans-serif;
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  h1{
    font-family: 'MuseoModerno', cursive;
    font-weight: 400;
  }
}

.NavBar {
  height: 5vh;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  a{
    color: white;
    // color:rgb(7, 218, 147);
  }
  a:hover{
    //color:yellow;
    // color:rgb(250, 44, 17);
    color:rgb(7, 218, 147);
    // color: white;
    text-decoration: underline wavy white;
  }
}

.HomePage {

  overflow: hidden;
  background: whitesmoke;
  height:100vh;
  header{
    h1{
      position: relative;
      top: 10vh;
      left: 7vw;
      text-decoration: underline wavy 3px rgb(7, 218, 147);
    }
  }
  #splash-container{
    height: 100vh;
    text-align: center;
  }
  #red-texture{
    position: relative;
    left: 30vw;
    height: 300px;
    width: 250px;
    background-color:rgb(250, 44, 17);
    background-image: url(https://i.imgur.com/e4gnAhT.jpg);
    background-size: cover;
    background-position: right;
    background-blend-mode: screen;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 46%, 50% 0);
  }
  #blue-box{
    position: relative;
    left: 34vw;
    bottom: 30vh;
    height: 300px;
    width: 300px;
    background-color:rgb(7, 218, 147);
    opacity: 0.6;
    margin-bottom: 0;
    border-radius:50%;

  }
  h3{
    position: relative;
    bottom: 25vh;
    left: 15vw;
    // font-family: 'MuseoModerno', cursive;
    // font-weight: 200;
  }
}

.AboutPage {
  text-align: center;
}

.ContactPage{

}

.portfolio {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 20px;
  h1{
    grid-column: 1/4;
    height: 20vh;
  }
  h4{
    font-family: 'MuseoModerno', cursive;
  }
}
