@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400&family=Roboto:wght@300&display=swap');
// font-family: 'MuseoModerno', cursive;
// font-family: 'Roboto', sans-serif;
:root {
  height: inherit;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  // background-color: rgb(249, 242, 232);
  h1{
    font-family: 'MuseoModerno', cursive;
    font-weight: 400;
    letter-spacing: 0.7rem;;
  }

}
#app{
  height: inherit;
  width: 100vw;
}


.waves{
  text-decoration: underline wavy 3px rgb(7, 218, 147);
}
.react-icons{
  width: 10vw;
  height: 10vh;
}
.NavBar {
  height: 7vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  width: 100%;
  background-color: black;
  position: sticky;
  a{
    color: rgb(249, 242, 232);
  }
  a:hover{
    color:rgb(7, 218, 147);
    text-decoration: underline wavy rgb(249, 242, 232);
  }
}

.HomePage {
  background-image: url(https://images.pexels.com/photos/1774986/pexels-photo-1774986.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: contain;
  background-blend-mode: overlay;
  background-color: rgb(245, 240, 232);
  // background-color: white;
  height: 150vh;

  header{
    h1{
      position: relative;
      top: 10vh;
      left: 7vw;
      z-index: 100;
      
    }
  }
  #splash-container{
    text-align: center;
  }
  #red-texture{
    position: relative;
    left: 30vw;
    top:10vh;
    height: 300px;
    width: 250px;
    background-color:rgb(215, 41, 18);
    background-image: url(https://i.imgur.com/e4gnAhT.jpg);
    background-size: cover;
    background-position: right;
    background-blend-mode: screen;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 46%, 50% 0);
  }
  #blue-box{
    position: relative;
    left: 34vw;
    bottom: 20vh;
    height: 300px;
    width: 300px;
    background-color:rgb(7, 218, 147);
    opacity: 0.6;
    margin-bottom: 0;
    border-radius:50%;
  }
  h3{
    position: relative;
    bottom: 15vh;
    left: 20vw;
  }
}

.ContactPage{
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  font-size: 1.4rem;
  background: linear-gradient(rgb(249, 242, 232), white);
  height: 100vh;
  div{
    height: 28vh;
  }
  a{
    color: black;
  }
  a:hover{
    color:black;
    text-decoration: underline wavy rgb(7, 218, 147);
    font-family: 'MuseoModerno', cursive;
  }
  h3{
    font-family: 'MuseoModerno', cursive;
    margin: 3%;
    text-decoration: underline wavy 3px rgb(7, 218, 147);
    width: 25vw;
  }
  .pagetitle{
    grid-column: 1/2;
    grid-row: 1/2
  }
  .email{
    grid-column: 2/3;
    grid-row: 2/3;
    // transform: rotate(12deg);
  }
  .github{
    grid-column: 3/4;
    grid-row: 3/4;
    // transform: rotate(-15deg);
  }
  .linkedin{
    grid-column: 4/5;
    grid-row: 2/3;
    // transform: rotate(-6deg);
  }
}

.portfolio {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 20px;
  background-color: rgb(249, 242, 232);
  h1{
    grid-column: 1/4;
    text-align: right;
  }
  img{
    width:27vw;
    margin: 10px;
  }
  h4{
    font-family: 'MuseoModerno', cursive;
    font-size: 1.8rem;;
  }
  div{
    padding: 10px;
  }
}
.AboutPage{
  height: 140vh;
  padding: 30px;
  background-color: rgb(249, 242, 232);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%);
  h1{
    position: relative;
    top: 6vh;
  }
  .info-container{
    position: relative;
    top: 10vh;
  }
  h5{
    margin: 3vh 0 3vh 0;
  }

  #photo{
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin: 5vh;
}
}

@media only screen and (max-width: 666px)  {
  :root{
    margin: 0 auto;
    width:100vw;
  }
  .NavBar{
    font-size: 1.2rem;
  }
  .HomePage{
    h1{
    margin: 0 auto;

    }
    #red-texture{
      top: 15vh;
      left: 5vw;
    }
    #blue-box{
      bottom: 16vh;
      left: 16vw;
    }
    h3{
      text-align: center;
      font-size: 1.4rem;

      bottom: 7vh;
      width:60%;
    }
  }
  .portfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    h1{
      margin-top: 15vh;
    }
    h4{
      font-size: 1.8rem;
    }
    img{
      width: 90vw;
      position: relative;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    div{
      border-bottom: 1px solid black;
      padding: 0px;
      margin-bottom: 5vh;
    }
  }
  .AboutPage{
    height:165vh;
    h1{
      position: relative;
      top:17vh;
    }
    .react-icons{
      width: 15vw;
      margin: 10px;
    }
    .info-container{
      top:15vh;
    }
  }
  .ContactPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    position: relative;
    left: -15vw;
    height: 100vh;
    width: 115vw;
    div{
      height:25vh;
    }
    a{
      font-size: 1.1rem;
    }
    a:hover{
      font-size: 1.3rem;
    }
    .pagetitle{
      height: 15vh;
      position: relative;
      top: 0vh;
      left: 5vw;
    }
    .email{
      position: relative;
      top: 5vh;
      // left:-13vw;
      // transform: rotate(-8deg);

    }
    .github{
      position: relative;
      // left: 14vw;
      top: 5vh;
      // transform: rotate(4deg);
 
    }
    .linkedin{
      position: relative;
      left: 5vw;
      top: 5vh;
      // transform: rotate(-7deg);
  
    }
  }
}
